/* Reset bàsic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body i HTML */
html,
body {
  height: 100%;
  width: 100%;
}

/* Contenidor React */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f9fafb;
  /* equivalent bg-gray-50 */
  /* o per a imatge de fons: */
  /* background-image: url('/path/to/image.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
}